*{
    margin: 0;
    padding: 0;
}

#outer{
    background: #282C34;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}